<mddoc>
	<docpage target="README.md">
		<section title="Recursive Require">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="CorpusPHP/RecursiveRequire" workflow-file="ci.yml"/>

			<text>Library to Recursively Require Every PHP File in a Directory Tree</text>

			<section title="Requirements">
				<composer-requires/>
			</section>

			<section title="Installing">
				<composer-install/>
			</section>

			<section title="Usage">
				<text>Here is a simple usage example:</text>
				<source name="example/example.php" lang="php"/>
			</section>

			<section title="Documentation">
				<file name="src/Loader.php"/>
			</section>
		</section>
	</docpage>
</mddoc>
